In [198]:
import pandas as pd
import numpy as np
import re

In [199]:
data = pd.read_csv("data/goodreads_books.csv", converters={'COLUMN_NAME': pd.eval})

In [200]:
data = data.filter(["title", "rating_count", "average_rating", "genre_and_votes"], axis=1)

In [219]:
def genre_break(genre):
    for index, item in enumerate(genre):
        new_item = re.sub('\s[0-9]+', '', item)
        genre[index] = new_item
    
    return genre

In [202]:
data["genre"] = data["genre_and_votes"].str.split(", ")
data.drop(axis=1, columns=["genre_and_votes"], inplace=True)

In [204]:
data.dropna(inplace=True, axis=0)

In [205]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49359 entries, 0 to 52198
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           49359 non-null  object
 1   rating_count    49359 non-null  int64
 2   average_rating  49359 non-null  float64
 3   genre           49359 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.9+ MB

In [221]:
data["genre"].apply(lambda item: genre_break(item))

0                          [Young Adult, Mystery, Romance]
1         [Christian Fiction, Christian, Fiction, Romance]
2                  [Christian Fiction, Christian, Fiction]
3                     [Thriller, Mystery, Horror, Fiction]
4        [Economics-Finance, Nonfiction, Business, Fina...
                               ...
52194    [Romance-Historical Romance, Romance, Historic...
52195    [Nonfiction, Short Stories, Writing-Essays, Au...
52196    [Fiction, Childrens, Historical-Historical Fic...
52197                      [Young Adult, Mystery, Romance]
52198    [Biography, Nonfiction, Politics, Biography-Au...
Name: genre, Length: 49359, dtype: object

In [222]:
data

,title,rating_count,average_rating,genre
0,Inner Circle,7597,4.03,"[Young Adult, Mystery, Romance]"
1,A Time to Embrace,4179,4.35,"[Christian Fiction, Christian, Fiction, Romance]"
2,Take Two,6288,4.23,"[Christian Fiction, Christian, Fiction]"
3,Reliquary,38382,4.01,"[Thriller, Mystery, Horror, Fiction]"
4,The Millionaire Next Door: The Surprising Secr...,72168,4.04,"[Economics-Finance, Nonfiction, Business, Fina..."
...,...,...,...,...
52194,The Stranger I Married,13295,3.87,"[Romance-Historical Romance, Romance, Historic..."
52195,The Opposite of Loneliness: Essays and Stories,42609,3.84,"[Nonfiction, Short Stories, Writing-Essays, Au..."
52196,Sadako will leben,1583,4.17,"[Fiction, Childrens, Historical-Historical Fic..."
52197,Confessions,8815,4.09,"[Young Adult, Mystery, Romance]"
52198,Going Rogue: An American Life,11359,3.28,"[Biography, Nonfiction, Politics, Biography-Au..."